<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du client</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h2 class="mb-0">Détails du client</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <td>{{ customer.id }}</td>
                            </tr>
                            <tr>
                                <th>Prénom</th>
                                <td>{{ customer.firstname }}</td>
                            </tr>
                            <tr>
                                <th>Nom de famille</th>
                                <td>{{ customer.lastname }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ customer.email }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ customer.phone }}</td>
                            </tr>
                            <tr>
                                <th>Profession</th>
                                <td>{{ customer.job }}</td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>{{ customer.birthday }}</td>
                            </tr>
                        </table>
                        <a href="{% url 'c-list' %}" class="btn btn-success">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
